body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/db/NYC_Taxi.jpg");
  background-repeat: round;
}

.wrapper {
  /*background-color: #282c34;*/

  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: center; */
  font-size: calc(5px + 2vmin);
  color: white;
  text-align: center;
}
a {
  text-decoration: none;
}

#admin-panel {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  min-height: 15vh;
  align-items: center;
  background-color: #2d2a2a8a;
  width: 100%;
}

header li {
  padding: 20px;
}

nav {
  display: flex;
  width: 50%;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

#app-name {
  width: 50%;
}

.signUp-form div {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}

.signUp-form {
  padding: 30px;
  background: #ffffffe8;
  border-radius: 2px;
  color: #000;
}
.signUp-form label {
  padding-right: 1em;
}

#submit {
  margin-top: 1em;
}

.fleet-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
}

article {
  display: flex;
  flex-flow: column;
  padding: 5px;
  background-color: cadetblue;
  margin: 10px;
  align-items: center;
}

#app-name h2:hover {
  color: #03963b;
  cursor: pointer;
}

li {
  list-style-type: none;
  cursor: pointer;
  display: inline-block;

  border-radius: 2px;
  color: white;
}
.list {
  background-color: black;
}

.list li {
  padding: 10px;
}

li:hover {
  color: orange;
  background-color: rgba(75, 89, 89, 0.48);
}

.body-page {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 8px; */
}

button {
  cursor: pointer;
  text-decoration: none;
  /* margin-bottom:10px; */
  margin:10px ;

}

/* table {
  margin: 0 auto;
  padding: 10px;
  color: #102233;
} */

.table {
  background-color: rgb(212, 218, 228);
  width: 50%;
  margin-bottom: 1rem;
  color: #212529;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #20262c;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #20262c;
}

.table tbody + tbody {
  border-top: 2px solid #20262c;
}

/* .table-bordered {
  border: 1px solid #102233;
} */

.table-bordered th,
.table-bordered td {
  border: 1px solid #20262c;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.footer {
  min-height: 15vh;
  background-color: #110e0e79;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer p {
  align-self: center;
  /* font-size: 15px; */
}

.footer p:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #03963b;
}

