.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ---------------- OWN CSS */

.header{
  display: flex;
  flex-direction: row;
  min-height: 15vh;
  align-content: space-around;
  background-color: black;
  width: 100%;
}


#nav {
	display: flex;
	width: 50%;
	flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

#app-name {
	width: 50%;
}

#app-name h1:hover {
  color: #03963b;
  cursor: pointer;
}

li{
  list-style-type: none;
  cursor: pointer;
  display: inline-block;
  padding: 40px;
  border-radius: 2px;
}

li:hover {
  color: orange;
  background-color: 
  rgba(75, 89, 89, 0.48);
}

.body-page{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer {
	min-height: 15vh;
	background-color: #110e0e;
  width: 100%; 
  display: flex;
  justify-content: center;
}

.footer p {
	align-self: center;
}

.footer p:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #03963b;
}